body{

background:#fff8f0;

font-family:
Arial;

text-align:center;

}


h1{

color:#555;

}


a{

display:block;

margin:20px;

padding:15px;

background:white;

border-radius:15px;

text-decoration:none;

}